$font-stack:'Josefin Sans',
sans-serif;
$font-nav: 'Comforter',
cursive;
$nav-size: 30px;
$primary-color: snow;
$secondary-color:black;
$tertiary-color: #0b5a1f;
$full:100%;
$half:50%;


#nav {
    position: fixed;
    top: 0px;
    width: $full;
    z-index: 100000;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $secondary-color;


    a {
        text-decoration: none;
        padding: 10px 20px;
        font-size: $nav-size;
        font-family: $font-nav;
        color: $secondary-color;
        transition: transform .2s;
        font-weight: 900;
    }

    a:hover {
        text-decoration: none;
        color: $tertiary-color;
        transform: scale(1.2);
    }
}